.searching__form{
  margin-top: 64px;
  width: 100%;
  margin-bottom: 54px;
  input{
    outline: none;
    border: none;
    width: 100%;
    border-radius: 2px;
    border: 1px solid rgba(109, 110, 118, 0.50);
    color: #232536;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding: 24px;
  }
}