.posts__container{
  display: flex;
  gap: 35.74px;
  margin-bottom: 64px;
}

.posts__img__box{
  max-width: 547px;
  height: 318px;
  width: 100%;
  img{
    object-fit: contain;
  }
}

.posts__content__box{
  display: flex;
  flex-direction: column;
  max-width: 696px;
  width: 100%;
}


.posts__category__title{
  color: #592EA9;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.posts__title{
  color:  #232536;
  font-family: Sen;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; 
  letter-spacing: -2px;
  margin-top: 20px;
  margin-bottom: 16px;
}

.posts__description{
  color:#6D6E76;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; 
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.action__box{
  display: flex;
  gap: 30px;
}

.btn{
  background-color: transparent;
  border: none;
  padding: 20px 40px;
  margin-top: 20px;
  max-width: 150px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  color: white;
  transition: 0.5s;
}

.btn__edit{
  background-color: #592EA9;
  border: 1px solid #592EA9;
  &:hover{
    border: 1px solid #592EA9;
    background-color: white;
    color: #592EA9;
  }
}

.btn__delete{
  background-color: red;
  border: 1px solid red;
  &:hover{
    border: 1px solid red;
    background-color: white;
    color: red;
  }
}


@media only screen and (max-width: 800px) {

  .posts__container{
    flex-direction: column;
  }

  .posts__description{
    max-width: 547px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
}