#our{
  margin-bottom: 120px;
  background-color: #F4F0F8;
} 

#our__team{
  margin-bottom: 120px;
}

.our__box{
  display: flex;
  gap: 54px;
  padding: 83px 108px 109px 86px;
}


.our__team__container__firts, .our__team__container__second{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 64px;
}

.our__team__container__firts{
  margin-bottom: 128px;
}

.title{
  color: #232536;
  font-family: Sen;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
  margin-bottom: 16px;
  max-width: 520px;
  width: 100%;
  transition: 0.5s;
}

.text{
  color:  #232536;
  font-family: Sen;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 16px;
  max-width: 520px;
  width: 100%;
  transition: 0.5s;
}
.content{
  color: #232536;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  max-width: 520px;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  transition: 0.5s;
}


@media only screen and (max-width: 800px) {
  .our__box{
    text-align: center;
    flex-direction: column;
    gap: 50px;
    padding: 33px 58px 59px 36px;
  }

  .our__team__container__firts{
    padding: 20px;
    margin-bottom: 60px;
    flex-direction: column-reverse;
    gap: 40px;
  }

  .our__team__container__second{
    padding: 20px;
    flex-direction: column;
    gap: 40px;
  }

  .title, .content, .text{
    max-width: 100%;
  }
  .title{
    text-align: center;
  }
  
}

@media only screen and (max-width: 500px) {
  .title{
    text-align: center;
    font-size: 28px;
  }
  .text{
    font-size: 18px;
  }
  .content{
    font-size: 14px;
  }
}