#user{
  margin-top: 30px;
  margin-bottom: 60px;
}

.user__box{
  display: flex;
  // align-items: center;
  gap: 30px;
}

.user__img__box{
  max-width: 400px;
  img{
    height: 400px;
    object-fit: cover;
    overflow: hidden;
  }
}

.user__info__box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  align-items: center;
  div{
    margin-bottom: 20px;
  }
  .user__info__name{
    margin-bottom: 10px;
    opacity: 0.5;
  }
  .user__info__title{
    color: #0f0e0e;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }

}


.action__user__box{
  margin-top: 60px;
  text-align: center;
  button{
    background-color: transparent;
    border: none;
    outline: none;
    max-width: 200px;
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
    color: #fff;
  }
  .edit__user__btn{
    max-width: 200px;
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
    color: #fff;
    margin-right: 16px;
    border: 1px solid #FFD050;
    background-color: #FFD050;
    a{
      color: #fff;
    }
    &:hover{
      a{
        color: #FFD050;
      }
      color: #FFD050;
      background-color: #fff;
      box-shadow: 3px 4px 8px 0px rgba(236, 242, 111, 0.999);
    }
  }
  .delete__user__btn{
    background-color: #ed2222;
    border: 1px solid #ed2222;
    &:hover{
      color: #ed2222;
      background-color: #fff;
      box-shadow: 3px 4px 8px 0px rgb(250, 126, 126);
    }
  }
}

@media only screen and (max-width: 1000px) {
  .user__info__box{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 40px;
    align-items: center;
    .user__info__title{
      color: #0f0e0e;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;  
      overflow: hidden;
    }
  }

}

@media only screen and (max-width: 600px) {
  .user__box{
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}

@media only screen and (max-width: 500px) {
  .action__user__box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    button{
      max-width: 100%;
    }
    .edit__user__btn{
      max-width: 100%;
      margin-right: 0px;}
  }

  
}

@media only screen and (max-width: 400px) {

  .user__info__box{
    margin-top: 50px;
  }

  .user__box{
    gap: 0;
  }
  .user__img__box{
    height: 370px;
  }
}