.all__posts__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.all__posts__title{
  color: #232536;
  font-family: Sen;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
  margin-bottom: 32px;
}

.category__select{
  border: none;
  padding: 10px 20px;
  outline: none;
  border: 1px solid #FFD050;
  border-radius: 6px;
}

.line{
  display: block;
  border-bottom: 1px solid #6D6E76;
  opacity: 0.32;
  margin-bottom: 64px;
}
.page__list{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 100px 0px;
  
}
.page__item{
  border-radius: 6px !important;
}

.page__item a{
  cursor: pointer;
  padding: 12px 20px !important;
  transition: .5s;
  &:hover{
    border-radius: 6px !important;
    background-color: #f6d783;
  }
}

.active__page{
  border-radius: 6px !important;
  background-color: #FFD050;
}
.disabled__page{
  opacity: 0.5;
  background-color: transparent !important;
}


@media only screen and (max-width: 800px) {

  .paginate__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}