footer{
  background-color: #232536;
  padding-top: 54px;
  padding-bottom: 54px;
}

.footer__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.footer__left__box{
  max-width: 361px;
  width: 100%;
  
  p, a{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    opacity: 0.7;
    &:hover{
      opacity: 1;
    }
  }

  .email__link{
    margin-right: 8px;
  }
}

.footer__list{
  display: flex;
  gap: 26.67px;
}

.footer__navbar{
  display: none;
  width: 100%;
}

@media only screen and (max-width: 700px) { 

  .nav__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    .active{
      color: aqua;
    }
  }

  .footer__container{
    flex-direction: column-reverse;
    padding-bottom: 60px;
  }

  .nav__item{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    img{
      width: 40px;
      height: 40px;
    }
      a{
      padding: 20px;
  }
}


  .footer__navbar{
    background-color: red;
    padding: 20px 20px;
    display: block;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
  }
}