footer{
  background-color: #232536;
  padding-top: 54px;
  padding-bottom: 54px;
}

.footer__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__left__box{
  max-width: 361px;
  width: 100%;
  
  p, a{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    opacity: 0.7;
    &:hover{
      opacity: 1;
    }
  }

  .email__link{
    margin-right: 8px;
  }
}

.footer__list{
  display: flex;
  gap: 26.67px;
}

.footer__navbar{
  display: none;
  width: 100%;
}

@media only screen and (max-width: 750px) { 

  .login__item__link{
    width: 71px;
    padding: 8px 4px;
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
  }

  .nav__list{
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    .active{
      border-radius: 15px;
      color: rgb(248, 248, 248);
      background-color: red;
    }
  }

  .footer__container{
    flex-direction: column-reverse;
    padding-bottom: 60px;
  }

  .nav__item{
    text-align: center;
    img{
      width: 40px;
      height: 40px;
    }
}


  .footer__navbar{
    background-color: rgb(93, 87, 87);
    display: block;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 400px) { 
  .nav__list{
    padding-left: 4px;
    padding-right: 4px;
  }

  .login__item__link{
    width: 61px;
    img{
      width: 32px;
      height: 32px;
    }
    span{
      font-size: 12px;
    }
  }
}


